* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}
.strat-button {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  display: flex;
  justify-content: center;
}
.strat-button button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 10px 20px;
  font-size: 24px;
  background-color: #0ea9d4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
  border: 2px solid #0ea9d4;
  margin: 1rem;
  font-size: 2rem;
}

.game-memory-container {
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.game-block {
  width: 100px;
  height: 100px;
  perspective: 1000px;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s;
  border: #0ea9d4 2px solid;
  border-radius: 12px;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.face {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.front {
  background-color: #333;
  color: #fff;
}

.back {
  background-color: #f8f9fa;
  transform: rotateY(180deg);
}

/* لو فيه flipping effect */
.game-block.flipped .front {
  transform: rotateY(180deg);
}

.game-block.flipped .back {
  transform: rotateY(0deg);
}
